html {
    scroll-behavior: smooth;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

h1 {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 50px;
  font-weight: 700;

}

/* Nav Bar */
 .nav-item  {
  list-style: none;

  font-weight: bold;

}

.fixed-top {
  background-color: rgba(96, 114, 164, 0.20);
}
.index {
  z-index: 1;
}


/* Hero Header */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}
.hero-image {
 background-image:  linear-gradient(rgba(113, 137, 191, 0.8), rgba(134, 110, 199, 0.8)), url(images/van.jpg);
 height: 100%;

 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* Headings */
.medium-heading {margin-top: 10%;
text-align: center;
color:black;}


.small-heading {
  text-align: center;
}


/* Buttons */
.btn-projects{
  margin-right: 10px;

}

/* Project Section */

  .project-icon {
    display:inline-block;
   line-height: 65px;
   width: 50px;
   height: 50px;
   text-align: center;
   vertical-align: bottom;

  }
  .project-icon:hover{
    color: red;
  }


/* Skill Section */

.middle-container {
  background-color: #9EA9F0;
  padding: 0.5% 15%;
}
.about-section {
  margin-top: 80px;
  margin-bottom: 100px;
  text-align: center;
  color: #305f72

}




.infopic {
  width: 50px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.computer-img {
  width: 30%;
float: left;
margin-right: 30px;
}
.team-img{
  width: 30%;
  float: right;
  margin-left: 30px;
}

.skill-box {
  background-color: white;
  text-align: center;

}
.skill-list {
  padding-left: 0;
  list-style: none;
}

.work {
  margin-bottom: 200px;

}

.projects {
  margin-top: 80px;
}



.workone-img {
  float: left;
}




.btn-outline {
  color:  #9EA9F0;
  background-color: #ffffff;
  border-color:  #9EA9F0;
  font-weight: bold;
  letter-spacing: 0.05em;
}


/* About/Contact */

.bottom-container {
  text-align: center;
  padding: 7% 10%;
}


.self-image {

  margin: 0;
    border: solid 10px #9EA9F0;
    max-height: 400px;
    max-width: 400px;


}
.about-text{

  text-align: left;
  padding: 5%;

}

.icon-row {
  padding-top: 3%;


}

.icon {
  margin-right: 10px;
  color: black;

}
.icon:hover{
  color: purple;
}

footer {
  padding-top: 20px;
  padding-bottom: 15px;
  color: white;
  text-align: center;
}

@media (max-width:770px) {
  .self-image {

    margin: 0;
      border: solid 10px #9EA9F0;
      max-height: 300px;
      max-width: 300px;
  }

  .computer-img {
    width: 60%;
    margin-left: 20px;

  }
  .team-img{
      width: 60%;
      float: left;
  }
}
